* {
  font-family: "Poppins", sans-serif;
}

/* Start navbar */
.navbar-light .navbar-toggler-icon {
  background-image: url(../img/bars.svg);
}

.navbar-light .navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.8;
}
/* End navbar */

/* Start logo animatiom */
#logo {
  position: sticky;
  animation: fill 1.5s both 10s;
  height: 30px;
  width: 250px;
  left: 0;
  bottom: 15px;
}

#logo #H {
  stroke-dashoffset: 535px;
  stroke-dasharray: 534px;
  animation-name: lineAnim;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-delay: 0;
}

#logo #i {
  stroke-dashoffset: 239px;
  stroke-dasharray: 239px;
  animation-name: lineAnim;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-delay: 7s;
}

#logo #t {
  stroke-dasharray: 314px;
  stroke-dashoffset: 313.01px;
  animation-name: lineAnim;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-delay: 6s;
}

#logo #h {
  stroke-dasharray: 477px;
  stroke-dashoffset: 476.99999px;
  animation-name: lineAnim;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-delay: 5s;
}

#logo #a {
  stroke-dasharray: 506px;
  stroke-dashoffset: 506px;
  animation-name: lineAnim;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-delay: 4s;
}

#logo #m {
  stroke-dasharray: 668px;
  stroke-dashoffset: 668px;
  animation-name: lineAnim;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes lineAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
/* End logo animatiom */

/* Start home page */
.homepage {
  margin-top: 150px;
}
.home__blob {
  fill: #3d5e91;
}

@media (max-width: 768px) {
  .home__img {
    order: 2;
    width: 300px;
  }

  .home__about {
    order: 4;
  }
}
/* End home page */

/* Start skills page */
.progress {
  height: 3px;
}

.skillpage {
  margin-top: 20em;
}
/* End skills page */

/* Start Qualification */
.qualificationtpage .lineCercle {
  height: 400px;
  width: 1px;
}

.qualificationtpage .lineCercle::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0d6efd;
}

.qualificationtpage .lineCercle::after {
  content: "";
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0d6efd;
}

.qualificationtpage .lineCercleTow::before {
  content: "";
  position: absolute;
  bottom: -400px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0d6efd;
}

.qualificationtpage .lineCercleTow::after {
  content: "";
  position: absolute;
  bottom: -250px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0d6efd;
}

@media (max-width: 768px) {
  .qualificationtpage {
    font-size: 16px;
  }
}
/* End Qualification */
