@import 'tailwindcss';

@theme {
	--font-sans: var(--font-thmanyah);
}

html {
	scrollbar-color: var(--color-primary-500) transparent;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-feature-settings: 'salt' 1;
}
